{%extends "layout.html"%}
{%block title%}Da Rules{%endblock%}
{%block body%}
  <div class="div-block-9">
    <div class="div-block-10">
      <div class="div-block-11"><img src="/static/images/darules.png" alt="" class="image-2" style = "border: black solid 0px;">
        <h1>Da Rules</h1>
      </div>
      <div class="div-block-12">
        <ul role="list" class="list-2">
          <li class="list-item-2">Choose One Team Per Week and If They Win You Get A Win on your record and if they lose you get a lose</li>
          <li class="list-item-2">2 Teams One From The AFC and NFC Will be banned at the start of the season</li>
          <li class="list-item-2">Ties are broken by average margin of victory</li>
          <li class="list-item-2">You can only choose each team once so choose wisely</li>
          <li class="list-item-2">The person with the best record will be deemed the winner</li>
          <li class="list-item-2">The winner of each season will be given a trophy</li>
        </ul>
      </div>
    </div>
  </div>
{%endblock%}
